extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Yonatan Melka

        p.lead.text-light
          | Full-Stack Web Developer

        .portfolio-bio
          p
            | Detail-oriented professional with experience in client-side as well as server-side development. 
            | Seeking to take the next career step with a respected organization. Ability to learn quickly, 
            | often in high-pressure situations, to fully understand a new platform/technology.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript (ES6)
          li HTML5
          li CSS3
          li jQuery
          li Node.js
          li Express
          li Python 3
          li Git / Github
        h6 Contact Info

        ul
          li ybmelka2@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/yonatan-melka-30a395161/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/ybmlk' target="_blank") GitHub
        a.button.expanded(href='https://teamtreehouse.com/yonatanmelka' target="_blank") Treehouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  